<div class="mt-4 mb-12 flex w-1/2">
  <div class="flex-1"></div>
  <div class="text-5xl font-thin">Journalr</div>
  <div class="flex-1"></div>

  <div>
  <%= if @current_user do %>
    <span class="text-sm font-bold">Welcome <%= link @current_user.username, to: Routes.user_settings_path(@conn, :edit) %></span>
    <span class="text-sm"><%= link "(Log out)", to: Routes.user_session_path(@conn, :delete), method: :delete %></span>
  <% end %>
  </div>
</div>
