<div class="p-4 flex w-3/4">
  <div class="flex-1"></div>

  <div>
  <%= if @current_user do %>
    <span><%= link @current_user.username, to: Routes.user_settings_path(@conn, :edit) %></span>
    <span><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></span>
  <% end %>
  </div>
</div>
