<div class="text-center">
  <%= link "Journalr", to: "/", class: "text-5xl font-thin" %>
  <div>This is a demo, data may be periodically wiped</div>
  <%= if @current_user do %>
    <span class="text-sm font-bold"><%= link "Welcome #{@current_user.username}", to: Routes.user_settings_path(@conn, :edit) %></span>
    <span class="text-sm"><%= link "(Log out)", to: Routes.user_session_path(@conn, :delete), method: :delete %></span>
  <% end %>
</div>
