<div class="p-4">
<div class="text-neutral-400">
  <div>
  <%= if @show_journal do %>
    <%= link @page.journal.name, to: "/journals/#{@page.journal.id}", class: "font-bold" %>
  <% end %>
  </div>
  <div>
  <%= format_datetime(@page.inserted_at) %>
  </div>
</div>

<div class="text-lg">
  <%= format_page(@page.content) %>
</div>
</div>
